body{
    font-family: "Raleway";
}

h1{
    font-family: "Century Gothic";
}

h2{
    font-family: "Raleway";
}

h3{
    font-family: "Century Gothic";
}

a {
    text-decoration: none;
    color: black;
}

#container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
}

#header
{
    float: right;
}

#header ul{
    list-style-type: none;
    margin-top: 25px; 
}

#header ul li{
    display: inline-block; 
}

#header ul li a{
    text-decoration: none; 
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 0.6s ease;
}

#header ul li a:hover{
    background: black;
    color: white;

}

#introduction{
    clear: both;
    text-align: left;
    font-size: 50px; 
    font-weight: bold;
    padding: 10px;
    animation: Slide_Up 2.1s ease;   
}

img.aboutMeImg{
    margin-right: 50px;
    margin-bottom: 50px;
    float: left; 
    width: 500px;
    height: auto;
    animation: Slide_Up 2.1s ease;   
}

#bodyText
{
    font-size: 18px;
    animation: Slide_Up 2.1s ease;   
    text-align: justify;
}

#footer h3{
    clear: left;
    font-size: 70px;
    float: left;
    animation: Slide_Up 2.1s ease;   
}


#footer ul{
    margin-top: -20px;
    margin-left: -30px;
    clear: left;
    float: left;
    list-style-type: none;
    margin-bottom: 100px;
    animation: Slide_Up 2.1s ease;   
}

#footer ul h2 a{
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%; 
    transition: width .3s;
}

@keyframes Slide_Up{
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0);
    }
    }
    